body {
    font-family: sans-serif;
    background-color: #E6E6E6;
}
header img {
    padding-top: 15px;
}

header,
nav {
    text-align: center;
    background-color: rgba(255, 137, 29, 1);
}

nav {
    border-top: rgba(106, 106, 106, 1);
    border-bottom: rgba(106, 106, 106, 1);
    margin: 50 35 50 35px;
    padding: 40 25 40 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 15 20 15 20px;
    padding: 25 25 25 25px;
    font-size: 25px;
}

main {}

main h1 {
    text-align: center;
}

main h2 {
    text-align: center;
}

main img {
    height: 225.81px;
    width: 298px;
}

main button {
    background-color: rgba(255, 137, 29, 1);
    border: none;
    color: white;
    width: 300px;
    height: 55.62px;
}

footer {
    height: 150px;
    background: #1A9393;
}

footer p {
    color: white;
    text-align: center;
}

.products {
    display: block;
    background-color: white;
    margin: auto;
    padding: 50px;
    justify-content: center;
    text-align: center;
}

.catalog {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.img {
    display: block;
    width: 134px;
    height: 80px;
    padding-top: 15px;
    margin: 0 auto;
}
